!  
{# loop through each vrf #}
{% for VRFS in router_config %}
ip vrf {{ VRFS['vrf'] }}
{% endfor %}
!    
{# loop through each loopback interface #}
{% for INTERFACE in router_config %}
interface {{ INTERFACE['loopback_name'] }}
description {{ INTERFACE['loopback_name'] }} Interface
ip address {{ INTERFACE['loopback_address'] }} {{ INTERFACE['loopback_netmask'] }}
{% endfor %}
!
{# loop through each tunnel interface #}
{% for INTERFACE in router_config %}
interface {{ INTERFACE['tunnel_name'] }}
description {{ INTERFACE['tunnel_name'] }} Interface
ip vrf forwarding {{ INTERFACE['vrf'] }}
ip address {{ INTERFACE['tunnel_address'] }} {{ INTERFACE['tunnel_netmask'] }}
tunnel source GigabitEthernet1
tunnel destination {{ INTERFACE['tunnel_dest'] }}
{% endfor %}
!
router eigrp buildbox
 !  
 { # loop through each vrf #}
 {% for AF in router_config %}
 address-family ipv4 unicast vrf {{ AF['vrf'] }} autonomous-system {{ AF['as'] }}
  !       
  topology base
  network {{ AF['eigrp_network'] }}
  {% endfor %}
 
  

 
